* {
    margin: 0;
    padding: 0;
}

body{
    color: #333;
    background: #8ec8dc url('/images/bg.png') repeat-x;
    margin:0;
    padding:0;
    font: normal normal normal 13px/1.5 'Helvetica Neue', Arial, Helvetica, 'Liberation Sans', FreeSans, sans-serif;
}

a{
    color: #2D76B9;
}

a:hover{
    color: #0084B4;
}

img{
    border:0;
}

p{
    margin: 1em 0;
}

/** INDEX **/

#index{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top:-150px;
    margin-left: -300px;
    width: 600px;
    text-align:center;
}

#index #logo{
    margin-bottom: 1em;
}

#footer{
    font-size: small;
    margin: 1em 0;
    clear: both;
}

/** APPLICATION **/
#container{
    width: 780px;
    margin:0 auto;
    margin-top: 1em;
}

#container #header{
    position: relative;
}

#container #header h1 span{
    display:none;
}

#container #header h1 a{
    background: url('/images/logo.png') no-repeat;
    display: block;
    width: 390px;
    height: 38px;
}

#container #nav{
    position: absolute;
    top:0;
    right:0;
    list-style-type:none;
    padding:0;
    margin: 0;
    line-height: 32px;
    height: 32px;
    background: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 0 1em;
}

#container #nav li{
    float: left;
    margin-right: 1em;
}

#container #nav li.last{
    margin-right:0;
}

#container #nav li img{
    margin-top: 4px;
}

#container #content{
    clear: both;
    margin: 1em 0;
}

#container #content #columns{
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
}

#container #content #columns .main{
    background: #fff;
    font-size: medium;
    min-height: 300px;
    -webkit-border-radius: 10px 0 0 10px;
    -moz-border-radius: 10px 0 0 10px;
    border-radius: 10px 0 0 10px;
    padding: 10px;
    width: 580px;
    vertical-align: top;
}

#container #content #columns .side{
    width: 200px;
    background: #ccc;
    vertical-align: top;
    -webkit-border-radius:  0 10px 10px 0;
    -moz-border-radius:  0 10px 10px 0;
    border-radius:  0 10px 10px 0;
    padding: 10px;
    color: #333;
    font-size: small;
}

#container #footer{
    text-align: center;
    color: #eee;
}

ul.statuses{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul.statuses li{
    min-height: 48px;
    position: relative;
    margin: 1em 0;
    border-bottom: 1px solid #eee;
    padding-bottom: 6px;
}

ul.statuses.icon li{
   padding-left: 56px;
}

ul.statuses li div{
    line-height: 15px;
}

ul.statuses li div.body{
    line-height: 19px;
}

ul.statuses li img{
    display: none;
}

ul.statuses.icon li img{
    position: absolute;
    top: 0;
    left: 0;
    width: 48px;
    display: block;
}

ul.statuses li .screen_name{
    font-weight: bold;
    margin-right: 6px;
}

ul.statuses li .name{
    font-size: small;
    color: #999;
}

ul.statuses li .time{
    font-size: 11px;
    color: #999;
}

#new_status{
    margin: 2em 0;
}

#new_status textarea{
    width: 100%;
    height: 4em;
    font-size: medium;
}

#content .main h1 img{
    vertical-align:middle;
    margin-right: 6px;
}

#content .side{
    position: relative;

}

#content .side .name{
    font-weight:bold;
    font-size: x-large;
}

#content .side .location{
}

#content .side .description{

}

#content .side .url{
}

#content .side h2{
    font-size: medium;
    margin-top: 1em;
    margin-bottom: 0.5em;
    border-bottom: 1px solid #ddd;
}

#content .side .donations{
    list-style-type: none;
}

#content .side .donations img{
    width: 24px;
    margin-right: 6px;
}