* {
    margin: 0;
    padding: 0;
}

ul{
    list-style-type: none;
}

body{
    color: #000;
    background: #fff;
    font-size: medium;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    line-height: 1.3;
    text-rendering: optimizelegibility;
}

p{
    margin: 1em 0;
}

a{
    color: blue;
}

/**LAYOUT**/
#bar{
    position: relative;
    height: 60px;
}

#bar #logo a span{
    display: none;
}

#bar #logo a{
    display: block;
    width: 314px;
    height: 40px;
    background:  #fff url('/images/dya_small_logo.png') no-repeat 10px 16px;
    padding:  16px 10px 4px 10px;
}

#bar #campaigns_menu{
    display:none;
}

.container{
    margin:  0 auto;
    width: 790px;
    position: relative;
}

#nav{
    float: right;
}

#nav li{
    float:left;
}

#nav li a{
    padding: 0 0.5em;
    line-height: 60px;
    text-transform: uppercase;
    font-size: 14px;
    background:  #333;
    color: #fff;
    display: block;
}

#nav li a.twitter{
    background: #33ccff url('/images/twitter_small.png') no-repeat 5px 12px;
    padding-left: 50px;
    color: #fff;
}

#nav li a.facebook{
    background: #3b5999 url('/images/facebook_small.png') no-repeat 5px 10px;
    padding-left: 50px;
    color: #fff;
}

#nav li.twitter a, #nav li.facebook a{
    color: #fff;
}

#nav li a{
    text-decoration: none;
    color: #fff;
}

#content{
    position: relative;
    background: #fff;
    margin:  1em 0;
    clear:both;
}

#content .main{
    width: 517px;
    float: left;
    min-height: 300px;
    padding: 10px;
}

#content .side{
    width: 233px;
    padding: 10px;
    float: right;
    position: relative;
}

#content .side h2{
    margin-bottom: 0.5em;
    border-bottom: 1px solid #ddd;
    clear: both;
    font-size: 130%;
}

#content .side .campaigns{
    list-style-type: none;
    margin-bottom: 1em;
}

#content .side .donations{
    list-style-type: none;
    margin-bottom: 1em;
}

#content .side .donations li{
    float:left;
}

#content .side .donations img{
    width: 24px;
    height: 24px;
    margin-right: 4px;
}

textarea.embed {
width: 100%;
height: 70px;
font-family: Courier;
color: #333;
font-size: 12px;
}

/**FOOTER**/
#footer{
    clear: both;
    text-align: center;
    padding: 1em 0;
    color: #999;
    line-height: 1.5;
}

#footer a{
    color: #666;
}

/**INDEX**/
#index #logo{
    margin:  1em 0;
    clear: both;
}

#index #logo a span{
    display: none;
}

#index #logo a{
    display: block;
    width: 790px;
    height: 101px;
    background:  url('/images/index-logo.png') no-repeat;
}

#index #promo{
    font-size: 180%;
    padding: 10px 20px;
    background:  #f2f2f2;
    color: #999;
    letter-spacing: -1px;
}

#index #buttons {
    margin:  1em 0;
    position:relative;
    clear: both;
    padding-top: 1em;
}

#index #buttons a{
    width: 320px;
    display: block;
    line-height: 65px;
    padding-left: 75px;
    background:  #ccc;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

#index #buttons a.twitter{
    float: left;
    background: #33ccff url('/images/twitter_newbird_white.png') no-repeat 5px 5px;
}

#index #buttons a.facebook{
    float: right;
    background: #3b5999 url('/images/facebook.png') no-repeat 5px 5px;
}

#index .columns{
    position: relative;
    margin: 1em 0;
    min-height: 50px;
    font-size: large;
}

#index #supporters{
    float: left;
    width: 354px;
    padding: 60px 20px 20px 20px;
    border-right:  1px solid #ccc;
    background: #fff url('/images/supporters.png') no-repeat center 10px;
}

#index #campaigns{
    float: right;
    width: 355px;
    padding: 60px 20px 20px 20px;
    border-left:  1px solid #ccc;
    margin-left: -1px;
    background: #fff url('/images/campaigns.png') no-repeat center 10px;
}

/**MESSAGES**/

.messages{
    margin-top: 1em;
}

.messages .header{
    font-size: 18px;
        padding-left: 50px;
    color: #fff;
    text-align: left;
    line-height: 50px;
    text-transform: uppercase;
}

.messages ul li{
    padding:  5px;
    cursor: pointer;
}



.messages ul li.even{
    background:  #f2f2f2;
}

.messages ul li.odd{
    background:  #e2e2e2;
}

.messages ul li .time{
    font-style:italic;
    font-size:small;
}

.levels .subHeader, .messages .subHeader{
    text-transform: uppercase;
    background: #333;
    color: #fff;
    padding: 5px;
    font-size: 14px;
}

.levels ul li{
    padding:  5px;
    background: #f2f2f2;
}

#content .main form .levels label{
    display: inline;
}

.publish{
    margin:  1em 0;
}

/** TWITTER **/
.messages.twitter .header{
    background: #33ccff url('/images/twitter_small.png') no-repeat 5px 5px;
}

.messages.facebook .header{
    background: #3b5999 url('/images/facebook_small.png') no-repeat 5px 5px;
}

.messages ul{
    height:200px;
    overflow-y: scroll;
}

.messages.twitter ul li.selected{
    background: #33ccff;
    color: #fff;
}

.messages.facebook ul li.selected{
    background: #3b5999;
    color: #fff;
}

.messages.facebook ul li .title{
    font-weight: bold;
}


.messages.facebook ul li.selected a{
    color: #fff;
}

/**CAMPAIGN**/
#content .main form label{
    display: block;
    font-weight: bold;
}

#content .main form input[type="submit"]{
    display: block;
}

#content .side .button{
    line-height: 50px;
    text-transform: uppercase;
    font-size: 18px;
    background:  #333;
    color: #fff;
    display: block;
    font-weight:bold;
    text-decoration: none;
    text-align: center;
}

#content .side .button.left{
    padding-left: 50px;
    text-align: left;
}

#content .side .button.twitter{
    background: #33ccff url('/images/twitter_small.png') no-repeat 5px 5px;
    padding-left: 50px;
    color: #fff;
    text-align: left;
}

#content .side .button.facebook{
    background: #3b5999 url('/images/facebook_small.png') no-repeat 5px 5px;
    padding-left: 50px;
    color: #fff;
    text-align: left;
}

#content .side .menu{
    margin-bottom: 1em;
}

#campaign h1{
    line-height: 48px;
    padding-left: 58px;
    position: relative;
}


#campaign h1 img{
    position: absolute;
    top: 0;
    left: 0;
    width: 48px;
    height:48px;
}

/** STATUSES **/
.statuses {
    margin:  1em 0;
}

.statuses li{
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #eee;
    position: relative;
}

.statuses li .time{
    margin-top: 0.4em;
    font-size: small;
    line-height: 16px;
    padding-left: 22px;
}

.statuses li.twitter .time{
    background: url('/images/twitter_status.png') no-repeat;
}

.statuses li.facebook .time{
    background: url('/images/facebook_status.png') no-repeat;
}

.statuses li .time a{
    color: #aaa;
}

.statuses li .name{
    font-weight: bold;
    
}

.statuses.icon li {
    padding-left: 54px;
}

.statuses.icon li a.image{
   position: absolute;
    top: 0;
    left: 0;
}

.statuses.icon li a.image img{
    width: 48px;
    height: 48px;
}

/** FLASH **/

#flash{
    	background-color: #E8FDE6;
	border: 2px solid #35B94D;
	font-size: medium;
	text-align: center;
	padding: 10px;
	color: #35B94D;
    clear:both;
    margin:  1em 0;
    text-align: center;
}

/**ERRORS**/
.errors{
    padding:  1em 2em;
    margin:  1em 0;
    background: #ffb5ae;
    border: 1px solid #CC1100;
    color: #CC1100;
    list-style-type:square;
}

.field_with_errors input{
    border:  2px solid #CC1100;
}

/**DONATIONS**/
#content .main form.new_donation label{
    display: inline;
}

/** TOPCAMPAIGNS **/
#content .side ul.top_campaigns li a{
    display: block;
    line-height: 36px;
    padding-left: 42px;
    position:relative;
    font-weight:bold;
    font-size:large;
    clear: right;
    color: #000;
    text-decoration: none;
}

#content .side ul.top_campaigns li a img{
    width: 36px;
    height: 36px;
    position: absolute;
    top: 0;
    left: 0;
}

#content .side ul.top_campaigns li a .total{
    font-weight: bold;
    font-size: small;
    position: absolute;
    top: 0;
    right: 0;
    font-size: xx-large;
    overflow: hidden;
    color: #ddd;
}

/**INDEXCAMPAIGNS**/

ul.index_campaigns{
    margin:  1em 0;
}

ul.index_campaigns li{
    width: 25%;
    float: left;
    text-align: center;
    height: 72px;
    overflow:  hidden;
    margin-bottom: 1em;
}

ul.index_campaigns li a{
    display: block;
}

.more_campaigns{
    font-size: small;
    margin:  0.5em 0;
    clear:both;
}
