<h1><%=@donation.campaign.name%></h1>
<p>Are you sure you want to delete this <%= @donation.account.type=="TwitterAccount" ? "Twitter" : "Facebook" %> donation to <%=link_to @donation.campaign.name, campaign_path(@donation.campaign)%>?</p>
<p>
  <%=button_to "Delete Donation", campaign_donation_path(@campaign,@donation), :method => :delete%>
</p>