<h1>Brand Assets</h1>

<p>
	<a href="/brand/brand.zip">Download all brand assets</a>
</p>

<h2>Vectors</h2>

<p>
	<a href="/brand/dyaLogo.eps">Logo Vector (.eps)</a>
</p>

<p>
	<a href="/brand/dyaMark.eps">Mark Vector (.eps)</a>
</p>


<h2>Logo</h2>

<div class="row">
	<div class="col-md-12">
		<img src="/brand/dyaLogo64.png" />
		<div class="desc">219x64</div>
	</div>
	<div class="col-md-12">
		<img src="/brand/dyaLogo128.png" />
		<div class="desc">438x128</div>
	</div>
	<div class="col-md-12">
		<img src="/brand/dyaLogo256.png" />
		<div class="desc">876x256</div>
	</div>
	<div class="col-md-12">
		<img src="/brand/dyaLogo512.png" />
		<div class="desc">1752x512</div>
	</div>
	<div class="col-md-12">
		<img src="/brand/dyaLogo1024.png" />
		<div class="desc">3503x1024</div>
	</div>
</div>

<h2>Mark</h2>

<div class="row">
	<div class="col-md-12">
		<img src="/brand/dyaMark32.png" />
		<div class="desc">32x32</div>
	</div>
	<div class="col-md-12">
		<img src="/brand/dyaMark64.png" />
		<div class="desc">64x64</div>
	</div>
	<div class="col-md-12">
		<img src="/brand/dyaMark128.png" />
		<div class="desc">128x128</div>
	</div>
	<div class="col-md-12">
		<img src="/brand/dyaMark256.png" />
		<div class="desc">256x256</div>
	</div>
	<div class="col-md-12">
		<img src="/brand/dyaMark512.png" />
		<div class="desc">512x512</div>
	</div>
	<div class="col-md-12">
		<img src="/brand/dyaMark1024.png" />
		<div class="desc">1024x1024</div>
	</div>
</div>