<div class="page-header">
  <a class="btn btn-primary btn-large pull-right" href="<%=new_campaign_path%>">Start a Campaign &raquo;</a>
  <h1>Donations <small>Messages shared on your behalf</small></h1>

</div>
<% if @donated_statuses.empty? %>
<a href="/campaigns" class="btn btn-lg btn-default">Browse Campaigns</a>
<%else%>
<%=render :partial => "dya/statuses", :object => @donated_statuses%>
<%=will_paginate @donated_statuses%>
<% end %>