<div class="page-header">
  <h1>Campaigns <small>Donate Your Account to Campaigns you like</small></h1>
</div>
<table class="table table-striped">
  <thead>
    <th>Campaign</th>
    <th>Donations</th>
  </thead>
  <tbody>
  <% @donations.each do |donation| %>
  <% if donation.campaign%>
  <tr>
   <td><h3><a href="<%= campaign_permalink_path(donation.campaign) %>"><%=truncate(donation.campaign.name,:length=>24) %></h3></td>
   <td><h3><%=donation.total%></h3></td>
  </tr>
  <% end %>
  <% end %>
  </tbody>
</table>