<div id="footer">
  <div><a href="http://twitter.com/donateuraccount">@donateuraccount</a> - <a href="http://www.gnu.org/licenses/agpl.html">License</a> - <a href="http://github.com/kyleshank/donateyouraccount">Source Code</a></div>
  <div>&copy;2011 <a href="http://kyleshank.com">Kyle Shank</a>. (<a href="http://twitter.com/kyleshank">@kyleshank</a>)</div>
</div>