<div id="footer">
  <div>Follow Donate Your Account on Twitter: <a href="http://twitter.com/donateuraccount">@donateuraccount</a></div>
  <div>Licensed under the <a href="http://www.gnu.org/licenses/agpl.html">AGPL version 3</a><br/>Donate Your Account is an <a href="http://kyleshank.com/open-source-web-applications">Open Source Web Application</a><br/>Source code for this application is available at: <a href="http://github.com/kyleshank/donateyouraccount">http://github.com/kyleshank/donateyouraccount</a></div>
  <div>&copy;2011 <a href="http://kyleshank.com">Kyle Shank</a>. (<a href="http://twitter.com/kyleshank">@kyleshank</a>)</div>
</div>