<div id="footer">
  <div><%=link_to image_tag("agplv3-155x51.png"), "http://www.gnu.org/licenses/agpl.html"%><br/> Licensed under the <a href="http://www.gnu.org/licenses/agpl.html">AGPL version 3</a></div>
  <div>Donate Your Account is an <a href="http://kyleshank.com/open-source-web-applications">Open Source Web Application</a><br/>Source code for this application is available at: <a href="http://github.com/kyleshank/donateyouraccount">http://github.com/kyleshank/donateyouraccount</a></div>
  <div>&copy;2011 <a href="http://kyleshank.com">Kyle Shank</a></div>
</div>