<div id="sidebarAd" class="hidden-xs">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- DYA_Sidebar -->
<ins class="adsbygoogle"
     style="display:inline-block;width:336px;height:280px"
     data-ad-client="ca-pub-9433768491234476"
     data-ad-slot="4656289420"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>