<h2>Donation Timeline</h2>
<% if @donated_statuses.empty? %>
    <p>No donations made yet!  Donate to some accounts!</p>
    <p></p>
<%else%>
<%=render :partial => "statuses", :object => @donated_statuses%>
<%=will_paginate @donated_statuses%>
<% end %>